.notCont{
    margin-top: 25px;
    text-align: -webkit-center;
    min-height: 380px;
}
.notFound{
    display: flex;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #77777770;
    backdrop-filter: blur(5px);
    padding: 50px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
}

.red{
    color: red;
    width: 30px;
    height: 30px;
}

@media (max-width: 500px){
    .notCont{
        min-height: 260px;
    }
}