.divPrincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 4px 4px 4px 4px;
    border: none;
    padding: 10px;
    background-color: #ffffff56;
    backdrop-filter: blur(16px);
    border-radius: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.divPrincipal + .divPrincipal{
    border-left: solid 10px #0000001e;
    border-top: solid 10px #0000001e;
}

.imgCard{
    width: 50%;
    height: 40%;
}

.diets{
    font-size: 10px;
}