.error{
    border-color: red;
}
.container{
    width: 70%;
    height: 80%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
    background-color: #77777766;
    backdrop-filter: blur(16px);
    margin: 0 15%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divCreate{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.diets{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
input{
    max-width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea{
    max-width: 400px;
    border-radius: 5px;
    min-width: 200px;
}


.btnCreate{
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
