.error{
    border-color: red;
}
.container{
    width: 50%;
    height: 80%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
    background-color: #77777766;
    backdrop-filter: blur(16px);
    margin: 0 25%;
    text-align: center;
}
.divCreate{
    display: flex;
    flex-direction: row;
}
.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.diets{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
input{
    max-width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

textarea{
    max-width: 400px;
    border-radius: 5px;
}

.btnCreate{
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;

}


