.error{
    border-color: red;
}
.container{
    width: 80%;
    height: 80%;
    background-color: #77777766;
    backdrop-filter: blur(16px);
    margin: 0 15%;
    text-align: center;
}
.divCreate{
    display: flex;
    flex-direction: row;
}
.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.diets{
    align-content: right !important;
}
input{
    max-width: 200px;
    margin-bottom: 5px;
}

textarea{
    max-width: 400px;
}



